@model IEnumerable<HousingSociety.Models.User_Maintainance>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}
<br />
<h2>Society Maitainance</h2>

<p>
   @* @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Wing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Flat_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Maintainance_Bill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Wing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Flat_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Maintainance_Bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Month)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.REGID }) |
            @Html.ActionLink("Details", "Details", new { id=item.REGID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.REGID })
        </td>*@
    </tr>
}

</table>
