@model HousingSociety.Models.Society__Add_User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_Society.cshtml";
}

<h2>Details</h2>

<div>
    @*<h4>Society__Add_User</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REGID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REGID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aadhar_Card)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aadhar_Card)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flat_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flat_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Email }) |
    @Html.ActionLink("Back to List", "Index")
</p>
